@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&display=swap');

*{
    font-family: 'Barlow', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    margin-bottom: 2px solid blue;
    padding: 15px 0;
}

.container{
    display: flex;
    color: white;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    border-bottom: 2px rgb(0, 36, 114);;
}

.titulo{
    color: rgb(21, 211, 173);
    font-size: 14px;
}

.nav{
    color: rgb(21, 211, 173);
}

.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #efb661;
    width: 350px;
    cursor: pointer;
}

.itens{
    font-size: 12px;
   
}